@import url('styles.css');

.navbar-map {
    display: flex;
    gap: 10px;
}

.navbar-map .link {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    background-position: center;
    width: 150px;
    height: 50px;
    background-size: cover; /* Ensure the image fits the button */
}

.navbar-map .active-link {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;

}

.navbar-map .link:nth-child(1) {
    background-image: url('images/buttonQQ.png');
    border: 1px #F2FF58;
}

.navbar-map .link:nth-child(2) {
    background-image: url('images/buttonLA.png');
    border: 1px #F2FF58;
}

.navbar-map .link:nth-child(3) {
    background-image: url('images/buttonOC.png');
    border: 1px #F2FF58;
}

.navbar-map .active-link:nth-child(1) {
    background-image: url('images/buttonQQ.png'); /* Ensure the active link keeps the same background */
}

.navbar-map .active-link:nth-child(2) {
    background-image: url('images/buttonLA.png');
}

.navbar-map .active-link:nth-child(3) {
    background-image: url('images/buttonOC.png');
}
